{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading %}
	{{ [
		"Let's do it to it! Let's get this party started!",
		"You wanna get nuts?? Let's get nuts!!",
		"Here's a nice piece of shit."
	] | random | safe }}
{% endset %}

{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/home-intro.njk" %}
    {% include "partials/components/home-post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
